{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "DocuSign Click API",
    "description" : "DocuSign Click lets you capture consent to standard agreement terms with a single click: terms and conditions, terms of service, terms of use, privacy policies, and more. The Click API lets you include this customizable clickwrap solution in your DocuSign integrations.",
    "termsOfService" : "https://www.docusign.com/company/terms-and-conditions/web",
    "contact" : {
      "name" : "DocuSign Developer Center",
      "url" : "https://developers.docusign.com/",
      "email" : "devcenter@docusign.com"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://www.docusign.net/clickapi"
  } ],
  "tags" : [ {
    "name" : "ClickWraps",
    "description" : ""
  } ],
  "paths" : {
    "/service_information" : {
      "get" : {
        "tags" : [ "ClickWraps" ],
        "summary" : "Gets the current version and other information about the Click API.",
        "description" : "The response includes information about the version of the Click API.\n\n```\n{\n  \"serviceVersions\": [\n    {\n      \"version\": \"v1\",\n      \"versionUrl\": \"https://demo.docusign.net/clickapi/v1\"\n    }\n  ],\n  \"buildVersion\": \"20.4.0.16708 (20.4.00.00_newt.16708+g236a94)\",\n  \"linkedSites\": [\n    \"https://demo.docusign.net\"\n  ]\n}\n```",
        "operationId" : "ServiceInformation_GetServiceInformation",
        "responses" : {
          "200" : {
            "description" : "A successful response or an error",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ServiceInformation"
                }
              }
            }
          },
          "400" : {
            "description" : "Error encountered.",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorDetails"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-ds-methodname" : "getServiceInformation",
        "x-ds-method" : "getServiceInformation",
        "x-ds-service" : "Uncategorized",
        "x-ds-in-sdk" : true
      }
    },
    "/v1/accounts/{accountId}/clickwraps" : {
      "get" : {
        "tags" : [ "ClickWraps" ],
        "summary" : "Gets all the clickwraps for an account.",
        "description" : "Gets all the clickwraps for an account.\n",
        "operationId" : "Clickwraps_GetClickwraps",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "A GUID that identifies your account.\nThis value is automatically generated by\nDocuSign for any account you create. Copy the\nvalue from the **API Account ID** field in\nthe **API and Keys** page in\neSignature Settings\n",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "from_date",
          "in" : "query",
          "description" : "Optional. The earliest date to return agreements from",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-ballerina-name" : "fromDate"
        }, {
          "name" : "ownerUserId",
          "in" : "query",
          "description" : "Optional. The user ID of the owner",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page_number",
          "in" : "query",
          "description" : "Optional. The page number to return\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-ballerina-name" : "pageNumber"
        }, {
          "name" : "shared",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "status",
          "in" : "query",
          "description" : "Optional. The status of the clickwraps to filter by. One of:\n\n- `active`\n- `inactive`\n\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "to_date",
          "in" : "query",
          "description" : "Optional. The latest date to return agreements from",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-ballerina-name" : "toDate"
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful response or an error",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ClickwrapVersionsResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Error encountered.",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorDetails"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-ds-methodname" : "getClickwraps",
        "x-ds-method" : "getClickwraps",
        "x-ds-service" : "Uncategorized",
        "x-ds-in-sdk" : true
      },
      "post" : {
        "tags" : [ "ClickWraps" ],
        "summary" : "Creates a clickwrap for an account.",
        "description" : "Creates a clickwrap for an account and returns the response with created agreement.\n",
        "operationId" : "Clickwraps_PostClickwrap",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "A GUID that identifies your account.\nThis value is automatically generated by\nDocuSign for any account you create. Copy the\nvalue from the **API Account ID** field in\nthe **API and Keys** page in\neSignature Settings\n",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ClickwrapRequest"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/ClickwrapRequest"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "201" : {
            "description" : "A successful response or an error",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ClickwrapVersionSummaryResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Error encountered.",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorDetails"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-ds-methodname" : "createClickwrap",
        "x-ds-method" : "createClickwrap",
        "x-ds-service" : "Uncategorized",
        "x-ds-in-sdk" : true,
        "x-codegen-request-body-name" : "clickwrapRequest"
      },
      "delete" : {
        "tags" : [ "ClickWraps" ],
        "summary" : "Deletes clickwraps for an account.",
        "description" : "Deletes all clickwraps for an account\nor only the ones specified in the\n`clickwrapIds` query parameter.\n",
        "operationId" : "Clickwraps_DeleteClickwraps",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "A GUID that identifies your account.\nThis value is automatically generated by\nDocuSign for any account you create. Copy the\nvalue from the **API Account ID** field in\nthe **API and Keys** page in\neSignature Settings\n",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clickwrapIds",
          "in" : "query",
          "description" : "A comma-separated list of clickwrap IDs to delete",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful response or an error",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ClickwrapsDeleteResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Error encountered.",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorDetails"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-ds-methodname" : "deleteClickwraps",
        "x-ds-method" : "deleteClickwraps",
        "x-ds-service" : "Uncategorized",
        "x-ds-in-sdk" : true
      }
    },
    "/v1/accounts/{accountId}/clickwraps/{clickwrapId}" : {
      "get" : {
        "tags" : [ "ClickWraps" ],
        "summary" : "Gets a  single clickwrap object.",
        "description" : "Gets a  single clickwrap object.",
        "operationId" : "Clickwraps_GetClickwrap",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "A GUID that identifies your account.\nThis value is automatically generated by\nDocuSign for any account you create. Copy the\nvalue from the **API Account ID** field in\nthe **API and Keys** page in\neSignature Settings\n",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clickwrapId",
          "in" : "path",
          "description" : "The ID of the clickwrap",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful response or an error",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ClickwrapVersionResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Error encountered.",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorDetails"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-ds-methodname" : "getClickwrap",
        "x-ds-method" : "getClickwrap",
        "x-ds-service" : "Uncategorized",
        "x-ds-in-sdk" : true
      },
      "put" : {
        "tags" : [ "ClickWraps" ],
        "summary" : "Updates the user ID of a clickwrap.",
        "description" : "Updates the user ID of a clickwrap. You specify the old and the new user ID in the request body.",
        "operationId" : "Clickwraps_PutClickwrap",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "A GUID that identifies your account.\nThis value is automatically generated by\nDocuSign for any account you create. Copy the\nvalue from the **API Account ID** field in\nthe **API and Keys** page in\neSignature Settings\n",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clickwrapId",
          "in" : "path",
          "description" : "The ID of the clickwrap",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ClickwrapTransferRequest"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/ClickwrapTransferRequest"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "A successful response or an error",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ClickwrapVersionSummaryResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Error encountered.",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorDetails"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-ds-methodname" : "updateClickwrap",
        "x-ds-method" : "updateClickwrap",
        "x-ds-service" : "Uncategorized",
        "x-ds-in-sdk" : true,
        "x-codegen-request-body-name" : "clickwrapTransferRequest"
      },
      "delete" : {
        "tags" : [ "ClickWraps" ],
        "summary" : "Deletes a clickwrap and all of its versions.",
        "description" : "Deletes the clickwrap specified by `clickwrapId` and all of its versions.\nActive clickwraps are not deleted",
        "operationId" : "Clickwraps_DeleteClickwrap",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "A GUID that identifies your account.\nThis value is automatically generated by\nDocuSign for any account you create. Copy the\nvalue from the **API Account ID** field in\nthe **API and Keys** page in\neSignature Settings\n",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clickwrapId",
          "in" : "path",
          "description" : "The ID of the clickwrap",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "versions",
          "in" : "query",
          "description" : "A comma-separated list of versions to delete",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful response or an error",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ClickwrapVersionsDeleteResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Error encountered.",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorDetails"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-ds-methodname" : "deleteClickwrap",
        "x-ds-method" : "deleteClickwrap",
        "x-ds-service" : "Uncategorized",
        "x-ds-in-sdk" : true
      }
    },
    "/v1/accounts/{accountId}/clickwraps/{clickwrapId}/agreements" : {
      "post" : {
        "tags" : [ "ClickWraps" ],
        "summary" : "Checks if a user has agreed to a clickwrap.",
        "description" : "Checks if a user has agreed to a clickwrap and returns a response with the agreement URL.\n\nReturns HTTP status code OK if the user has no pending agreement.\n",
        "operationId" : "UserAgreements_PostHasAgreed",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "A GUID that identifies your account.\nThis value is automatically generated by\nDocuSign for any account you create. Copy the\nvalue from the **API Account ID** field in\nthe **API and Keys** page in\neSignature Settings\n",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clickwrapId",
          "in" : "path",
          "description" : "The ID of the clickwrap",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UserAgreementRequest"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/UserAgreementRequest"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "201" : {
            "description" : "A successful response or an error",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UserAgreementResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Error encountered.",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorDetails"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-ds-methodname" : "createHasAgreed",
        "x-ds-method" : "createHasAgreed",
        "x-ds-service" : "Uncategorized",
        "x-ds-in-sdk" : true,
        "x-codegen-request-body-name" : "userAgreementRequest"
      }
    },
    "/v1/accounts/{accountId}/clickwraps/{clickwrapId}/agreements/{agreementId}" : {
      "get" : {
        "tags" : [ "ClickWraps" ],
        "summary" : "Gets a specific agreement for a specified clickwrap.",
        "description" : "Gets the agreement specified by `agreementId`.\n\nYou can omit `agreementId` to get the latest agreement.",
        "operationId" : "UserAgreements_GetAgreement",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "A GUID that identifies your account.\nThis value is automatically generated by\nDocuSign for any account you create. Copy the\nvalue from the **API Account ID** field in\nthe **API and Keys** page in\neSignature Settings\n",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "agreementId",
          "in" : "path",
          "description" : "The agreement ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clickwrapId",
          "in" : "path",
          "description" : "The ID of the clickwrap",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful response or an error",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UserAgreementResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Error encountered.",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorDetails"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-ds-methodname" : "getAgreement",
        "x-ds-method" : "getAgreement",
        "x-ds-service" : "Uncategorized",
        "x-ds-in-sdk" : true
      }
    },
    "/v1/accounts/{accountId}/clickwraps/{clickwrapId}/agreements/{agreementId}/download" : {
      "get" : {
        "tags" : [ "ClickWraps" ],
        "summary" : "Gets the completed user agreement PDF.",
        "description" : "Gets the PDF of  `agreementId` for the clickwrap specified by `ciickwrapId`.\n\nThe response to this method is the bytes of the PDF file.\nThe response includes the HTTP header `application/pdf.",
        "operationId" : "UserAgreements_GetAgreementPdf",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "A GUID that identifies your account.\nThis value is automatically generated by\nDocuSign for any account you create. Copy the\nvalue from the **API Account ID** field in\nthe **API and Keys** page in\neSignature Settings\n",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "agreementId",
          "in" : "path",
          "description" : "The agreement ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clickwrapId",
          "in" : "path",
          "description" : "The ID of the clickwrap",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful response or an error",
            "content" : { }
          },
          "400" : {
            "description" : "Error encountered.",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorDetails"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-ds-methodname" : "getAgreementPdf",
        "x-ds-method" : "getAgreementPdf",
        "x-ds-service" : "Uncategorized",
        "x-ds-in-sdk" : true
      }
    },
    "/v1/accounts/{accountId}/clickwraps/{clickwrapId}/users" : {
      "get" : {
        "tags" : [ "ClickWraps" ],
        "summary" : "Get user agreements",
        "description" : "Get user agreements\n",
        "operationId" : "UserAgreements_GetClickwrapAgreements",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "A GUID that identifies your account.\nThis value is automatically generated by\nDocuSign for any account you create. Copy the\nvalue from the **API Account ID** field in\nthe **API and Keys** page in\neSignature Settings\n",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clickwrapId",
          "in" : "path",
          "description" : "The ID of the clickwrap",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "client_user_id",
          "in" : "query",
          "description" : "The client ID\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-ballerina-name" : "clientUserId"
        }, {
          "name" : "from_date",
          "in" : "query",
          "description" : "Optional. The earliest date to return agreements from",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-ballerina-name" : "fromDate"
        }, {
          "name" : "page_number",
          "in" : "query",
          "description" : "Optional. The page number to return\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-ballerina-name" : "pageNumber"
        }, {
          "name" : "status",
          "in" : "query",
          "description" : "Optional. The status of the clickwraps to return",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "to_date",
          "in" : "query",
          "description" : "Optional. The latest date to return agreements from",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-ballerina-name" : "toDate"
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful response or an error",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ClickwrapAgreementsResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Error encountered.",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorDetails"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-ds-methodname" : "getClickwrapAgreements",
        "x-ds-method" : "getClickwrapAgreements",
        "x-ds-service" : "Uncategorized",
        "x-ds-in-sdk" : true
      }
    },
    "/v1/accounts/{accountId}/clickwraps/{clickwrapId}/versions" : {
      "post" : {
        "tags" : [ "ClickWraps" ],
        "summary" : "Creates a new clickwrap version.",
        "description" : "Creates a new clickwrap version.",
        "operationId" : "ClickwrapVersions_PostClickwrapVersion",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "A GUID that identifies your account.\nThis value is automatically generated by\nDocuSign for any account you create. Copy the\nvalue from the **API Account ID** field in\nthe **API and Keys** page in\neSignature Settings\n",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clickwrapId",
          "in" : "path",
          "description" : "The ID of the clickwrap",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ClickwrapRequest"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/ClickwrapRequest"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "201" : {
            "description" : "A successful response or an error",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ClickwrapVersionSummaryResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Error encountered.",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorDetails"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-ds-methodname" : "createClickwrapVersion",
        "x-ds-method" : "createClickwrapVersion",
        "x-ds-service" : "Uncategorized",
        "x-ds-in-sdk" : true,
        "x-codegen-request-body-name" : "clickwrapRequest"
      },
      "delete" : {
        "tags" : [ "ClickWraps" ],
        "summary" : "Deletes the versions of a clickwrap.",
        "description" : "Deletes all versions of a clickwrap,\nor only the ones specified in the\n`clickwrapVersionIds` query parameter.",
        "operationId" : "ClickwrapVersions_DeleteClickwrapVersions",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "A GUID that identifies your account.\nThis value is automatically generated by\nDocuSign for any account you create. Copy the\nvalue from the **API Account ID** field in\nthe **API and Keys** page in\neSignature Settings\n",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clickwrapId",
          "in" : "path",
          "description" : "The ID of the clickwrap",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clickwrapVersionIds",
          "in" : "query",
          "description" : "A comma-separated list of clickwrap version IDs to delete",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful response or an error",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ClickwrapVersionsDeleteResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Error encountered.",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorDetails"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-ds-methodname" : "deleteClickwrapVersions",
        "x-ds-method" : "deleteClickwrapVersions",
        "x-ds-service" : "Uncategorized",
        "x-ds-in-sdk" : true
      }
    },
    "/v1/accounts/{accountId}/clickwraps/{clickwrapId}/versions/{version}" : {
      "get" : {
        "tags" : [ "ClickWraps" ],
        "summary" : "Gets a specific version from a clickwrap.",
        "description" : "Gets the version specified by `versionId`  from the clickwrap `clickwrapId`.",
        "operationId" : "ClickwrapVersions_GetClickwrapVersion",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "A GUID that identifies your account.\nThis value is automatically generated by\nDocuSign for any account you create. Copy the\nvalue from the **API Account ID** field in\nthe **API and Keys** page in\neSignature Settings\n",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clickwrapId",
          "in" : "path",
          "description" : "The ID of the clickwrap",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "version",
          "in" : "path",
          "description" : "The version ID or the version number",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful response or an error",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ClickwrapVersionResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Error encountered.",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorDetails"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-ds-methodname" : "getClickwrapVersion",
        "x-ds-method" : "getClickwrapVersion",
        "x-ds-service" : "Uncategorized",
        "x-ds-in-sdk" : true
      },
      "put" : {
        "tags" : [ "ClickWraps" ],
        "summary" : "Updates a specific version of a clickwrap.",
        "description" : "Updates the clickwrap version `versionId` of the clickwrap `clickwrapId`.",
        "operationId" : "ClickwrapVersions_PutClickwrapVersion",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "A GUID that identifies your account.\nThis value is automatically generated by\nDocuSign for any account you create. Copy the\nvalue from the **API Account ID** field in\nthe **API and Keys** page in\neSignature Settings\n",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clickwrapId",
          "in" : "path",
          "description" : "The ID of the clickwrap",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "version",
          "in" : "path",
          "description" : "The version ID or the version number",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ClickwrapRequest"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/ClickwrapRequest"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "A successful response or an error",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ClickwrapVersionSummaryResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Error encountered.",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorDetails"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-ds-methodname" : "updateClickwrapVersion",
        "x-ds-method" : "updateClickwrapVersion",
        "x-ds-service" : "Uncategorized",
        "x-ds-in-sdk" : true,
        "x-codegen-request-body-name" : "clickwrapRequest"
      },
      "delete" : {
        "tags" : [ "ClickWraps" ],
        "summary" : "Deletes a specific version of a clickwrap.",
        "description" : "Deletes the clickwrap version `versionId` of the clickwrap `clickwrapId`.",
        "operationId" : "ClickwrapVersions_DeleteClickwrapVersion",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "A GUID that identifies your account.\nThis value is automatically generated by\nDocuSign for any account you create. Copy the\nvalue from the **API Account ID** field in\nthe **API and Keys** page in\neSignature Settings\n",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clickwrapId",
          "in" : "path",
          "description" : "The ID of the clickwrap",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "version",
          "in" : "path",
          "description" : "The version ID or the version number",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful response or an error",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ClickwrapVersionDeleteResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Error encountered.",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorDetails"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-ds-methodname" : "deleteClickwrapVersion",
        "x-ds-method" : "deleteClickwrapVersion",
        "x-ds-service" : "Uncategorized",
        "x-ds-in-sdk" : true
      }
    },
    "/v1/accounts/{accountId}/clickwraps/{clickwrapId}/versions/{version}/users" : {
      "get" : {
        "tags" : [ "ClickWraps" ],
        "summary" : "Gets the agreement responses for a clickwrap version.",
        "description" : "Gets the agreement responses for a specific version. ",
        "operationId" : "UserAgreements_GetClickwrapVersionAgreements",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "A GUID that identifies your account.\nThis value is automatically generated by\nDocuSign for any account you create. Copy the\nvalue from the **API Account ID** field in\nthe **API and Keys** page in\neSignature Settings\n",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clickwrapId",
          "in" : "path",
          "description" : "The ID of the clickwrap",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "version",
          "in" : "path",
          "description" : "The version ID of the version number",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "client_user_id",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-ballerina-name" : "clientUserId"
        }, {
          "name" : "from_date",
          "in" : "query",
          "description" : "Optional. The earliest date to return agreements from",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-ballerina-name" : "fromDate"
        }, {
          "name" : "page_number",
          "in" : "query",
          "description" : "Optional. The page number to return\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-ballerina-name" : "pageNumber"
        }, {
          "name" : "status",
          "in" : "query",
          "description" : "Clickwrap status. Possible values:\n\n- `active`\n- `inactive`\n- `deleted`",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "to_date",
          "in" : "query",
          "description" : "Optional. The latest date to return agreements from",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-ballerina-name" : "toDate"
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful response or an error",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ClickwrapAgreementsResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Error encountered.",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorDetails"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-ds-methodname" : "getClickwrapVersionAgreements",
        "x-ds-method" : "getClickwrapVersionAgreements",
        "x-ds-service" : "Uncategorized",
        "x-ds-in-sdk" : true
      }
    }
  },
  "components" : {
    "schemas" : {
      "ClickwrapRequest" : {
        "type" : "object",
        "properties" : {
          "displaySettings" : {
            "$ref" : "#/components/schemas/DisplaySettings"
          },
          "requireReacceptance" : {
            "type" : "boolean",
            "description" : "When **true**, requires signers who have previously agreed to this\nclickwrap to sign again. The version number is incremented"
          },
          "transferFromUserId" : {
            "type" : "string",
            "description" : "The user ID of current owner of the clickwrap"
          },
          "documents" : {
            "type" : "array",
            "description" : "An array of documents",
            "items" : {
              "$ref" : "#/components/schemas/Document"
            }
          },
          "transferToUserId" : {
            "type" : "string",
            "description" : "The user ID of the new owner of the clickwrap"
          },
          "scheduledDate" : {
            "type" : "object",
            "properties" : { },
            "description" : "The time and date when this clickwrap is activated"
          },
          "scheduledReacceptance" : {
            "$ref" : "#/components/schemas/ClickwrapScheduledReacceptance"
          },
          "clickwrapName" : {
            "type" : "string",
            "description" : "The name of the clickwrap"
          },
          "fieldsToNull" : {
            "type" : "string",
            "description" : "Specifies whether `scheduledReacceptance` and `scheduledDate` should be cleared. May be one of:\n\n- `\"scheduledReacceptance\"`\n- `\"scheduledDate\"`\n- `\"scheduledReacceptance,scheduledDate\"`\n"
          },
          "name" : {
            "type" : "string",
            "description" : "Name of the clickwrap"
          },
          "isMajorVersion" : {
            "type" : "boolean",
            "description" : "When **true**, the next version created is a major version. When **false** the next version created is minor"
          },
          "isShared" : {
            "type" : "boolean",
            "description" : ""
          },
          "status" : {
            "type" : "object",
            "properties" : { },
            "description" : "Clickwrap status. Possible values:\n\n- `active`\n- `inactive`\n- `deleted`"
          }
        },
        "description" : "Request body for working with clickwrap",
        "x-ds-definition-name" : "clickwrapRequest",
        "x-ms-summary" : "Request body for working with clickwrap."
      },
      "ClickwrapVersion" : {
        "type" : "object",
        "properties" : {
          "versionId" : {
            "type" : "string",
            "description" : "The ID of the version"
          },
          "requireReacceptance" : {
            "type" : "boolean",
            "description" : "When **true**, requires signers who have previously agreed to this\nclickwrap to sign again. The version number is incremented"
          },
          "clickwrapVersionId" : {
            "type" : "string",
            "description" : "The unique version ID, a GUID, of this clickwrap version"
          },
          "lastModifiedBy" : {
            "type" : "string",
            "description" : "The user ID of the last user who modified this clickwrap"
          },
          "ownerUserId" : {
            "type" : "string",
            "description" : "The user ID of the owner of this clickwrap"
          },
          "createdTime" : {
            "type" : "object",
            "properties" : { },
            "description" : "The time that the clickwrap was created"
          },
          "scheduledDate" : {
            "type" : "object",
            "properties" : { },
            "description" : "The time and date when this clickwrap is activated"
          },
          "lastModified" : {
            "type" : "object",
            "properties" : { },
            "description" : "The time that the clickwrap was last modified"
          },
          "scheduledReacceptance" : {
            "$ref" : "#/components/schemas/ClickwrapScheduledReacceptance"
          },
          "versionNumber" : {
            "type" : "string",
            "description" : "Version of the clickwrap"
          },
          "status" : {
            "type" : "string",
            "description" : "Clickwrap status. Possible values:\n\n- `active`\n- `inactive`\n- `deleted`"
          }
        },
        "description" : "",
        "x-ds-definition-name" : "clickwrapVersion",
        "x-ms-summary" : ""
      },
      "ClickwrapScheduledReacceptance" : {
        "type" : "object",
        "properties" : {
          "recurrenceInterval" : {
            "type" : "integer",
            "description" : "The time between recurrences specified in `recurrenceIntervalType` units.\n\nThe minimum and maximum values depend on `recurrenceIntervalType`:\n\n- `days`: 1 - 365\n- `weeks`: 1 - 52\n- `months`: 1 - 12\n- `years`: 1",
            "format" : "int32"
          },
          "startDateTime" : {
            "type" : "object",
            "properties" : { },
            "description" : "The date when the recurrence interval starts"
          },
          "recurrenceIntervalType" : {
            "type" : "string",
            "description" : "The units of the `recurrenceInterval`. Must be one of:\n\n- `days`\n- `weeks`\n- `month`\n- `years`\n"
          }
        },
        "description" : "",
        "x-ds-definition-name" : "clickwrapScheduledReacceptance",
        "x-ms-summary" : ""
      },
      "UserAgreementResponse" : {
        "type" : "object",
        "properties" : {
          "clientUserId" : {
            "type" : "string",
            "description" : "The user ID of the client"
          },
          "settings" : {
            "$ref" : "#/components/schemas/DisplaySettings"
          },
          "declinedOn" : {
            "type" : "object",
            "properties" : { },
            "description" : "The date when the user declined the most recent required agreement.\n\nThis property is valid only when `status` is `declined`. Otherwise it is null"
          },
          "metadata" : {
            "type" : "string",
            "description" : "A customer-defined string you can use in requests. This string will appear in the corresponding response"
          },
          "documents" : {
            "type" : "array",
            "description" : "An array of documents",
            "items" : {
              "$ref" : "#/components/schemas/Document"
            }
          },
          "agreementUrl" : {
            "type" : "string",
            "description" : "When not null, an agreement is required for user specified by  `clientUserId`.\n\nWhen missing the user specified by `clientUserId`\nhas already agreed and does not require a new acceptance.\n\nUse this URL to render the agreement in a web page.\n\n<!--\nor redirected to when providing redirect_url as a query paramter.\n-->\n"
          },
          "consumerDisclosureHtml" : {
            "type" : "string",
            "description" : "The customer-branded HTML with the Electronic Record and Signature Disclosure information"
          },
          "agreedOn" : {
            "type" : "object",
            "properties" : { },
            "description" : "Date that the client last completed the agreement.\n\nThis property is null if `agreementUrl` is not null and `status` is not  `agreed`"
          },
          "createdOn" : {
            "type" : "object",
            "properties" : { },
            "description" : "The date when the clickwrap was created. May be null"
          },
          "version" : {
            "type" : "string",
            "description" : "The human-readable semver version string"
          },
          "versionNumber" : {
            "type" : "integer",
            "description" : "Version of the clickwrap",
            "format" : "int32"
          },
          "accountId" : {
            "type" : "string",
            "description" : "A GUID that identifies your account.\nThis value is automatically generated by\nDocuSign for any account you create. Copy the\nvalue from the **API Account ID** field in\nthe **API and Keys** page in\neSignature Settings\n"
          },
          "versionId" : {
            "type" : "string",
            "description" : "The ID of the version"
          },
          "agreementId" : {
            "type" : "string",
            "description" : "The agreement ID"
          },
          "clickwrapId" : {
            "type" : "string",
            "description" : "The ID of the clickwrap"
          },
          "status" : {
            "type" : "string",
            "description" : "User agreement status. One of:\n\n- `created`\n- `agreed`\n- `declined`"
          }
        },
        "description" : "",
        "x-ds-definition-name" : "userAgreementResponse",
        "x-ms-summary" : ""
      },
      "ClickwrapVersionResponse" : {
        "type" : "object",
        "properties" : {
          "displaySettings" : {
            "$ref" : "#/components/schemas/DisplaySettings"
          },
          "requireReacceptance" : {
            "type" : "boolean",
            "description" : "When **true**, requires signers who have previously agreed to this\nclickwrap to sign again. The version number is incremented"
          },
          "documents" : {
            "type" : "array",
            "description" : "An array of documents",
            "items" : {
              "$ref" : "#/components/schemas/Document"
            }
          },
          "lastModifiedBy" : {
            "type" : "string",
            "description" : "The user ID of the last user who modified this clickwrap"
          },
          "scheduledDate" : {
            "type" : "object",
            "properties" : { },
            "description" : "The time and date when this clickwrap is activated"
          },
          "scheduledReacceptance" : {
            "$ref" : "#/components/schemas/ClickwrapScheduledReacceptance"
          },
          "clickwrapName" : {
            "type" : "string",
            "description" : "The name of the clickwrap"
          },
          "versionNumber" : {
            "type" : "string",
            "description" : "Version of the clickwrap"
          },
          "accountId" : {
            "type" : "string",
            "description" : "A GUID that identifies your account.\nThis value is automatically generated by\nDocuSign for any account you create. Copy the\nvalue from the **API Account ID** field in\nthe **API and Keys** page in\neSignature Settings\n"
          },
          "versionId" : {
            "type" : "string",
            "description" : "The ID of the version"
          },
          "clickwrapVersionId" : {
            "type" : "string",
            "description" : "The unique version ID, a GUID, of this clickwrap version"
          },
          "ownerUserId" : {
            "type" : "string",
            "description" : "The user ID of the owner of this clickwrap"
          },
          "createdTime" : {
            "type" : "object",
            "properties" : { },
            "description" : "The time that the clickwrap was created"
          },
          "lastModified" : {
            "type" : "object",
            "properties" : { },
            "description" : "The time that the clickwrap was last modified"
          },
          "clickwrapId" : {
            "type" : "string",
            "description" : "The ID of the clickwrap"
          },
          "status" : {
            "type" : "string",
            "description" : "Clickwrap status. Possible values:\n\n- `active`\n- `inactive`\n- `deleted`"
          }
        },
        "description" : "",
        "x-ds-definition-name" : "clickwrapVersionResponse",
        "x-ms-summary" : ""
      },
      "ClickwrapVersionDeleteResponse" : {
        "type" : "object",
        "properties" : {
          "requireReacceptance" : {
            "type" : "boolean",
            "description" : "When **true**, requires signers who have previously agreed to this\nclickwrap to sign again. The version number is incremented"
          },
          "lastModifiedBy" : {
            "type" : "string",
            "description" : "The user ID of the last user who modified this clickwrap"
          },
          "scheduledDate" : {
            "type" : "object",
            "properties" : { },
            "description" : "The time and date when this clickwrap is activated"
          },
          "scheduledReacceptance" : {
            "$ref" : "#/components/schemas/ClickwrapScheduledReacceptance"
          },
          "versionNumber" : {
            "type" : "string",
            "description" : "Version of the clickwrap"
          },
          "versionId" : {
            "type" : "string",
            "description" : "The ID of the version"
          },
          "clickwrapVersionId" : {
            "type" : "string",
            "description" : "The unique version ID, a GUID, of this clickwrap version"
          },
          "ownerUserId" : {
            "type" : "string",
            "description" : "The user ID of the owner of this clickwrap"
          },
          "createdTime" : {
            "type" : "object",
            "properties" : { },
            "description" : "The time that the clickwrap was created"
          },
          "deletionSuccess" : {
            "type" : "boolean",
            "description" : "**True** if the clickwrap was deleted successfully. **False** otherwise"
          },
          "lastModified" : {
            "type" : "object",
            "properties" : { },
            "description" : "The time that the clickwrap was last modified"
          },
          "deletionMessage" : {
            "type" : "string",
            "description" : "A message describing the result of deletion request. One of:\n\n- `alreadyDeleted`: Clickwrap is already deleted.\n- `deletionSuccess`: Successfully deleted the clickwrap.\n- `deletionFailure`: Failed to delete the clickwrap.\n- `cannotDelete`: Active clickwrap version cannot be deleted"
          },
          "status" : {
            "type" : "string",
            "description" : "Clickwrap status. Possible values:\n\n- `active`\n- `inactive`\n- `deleted`"
          }
        },
        "description" : "",
        "x-ds-definition-name" : "clickwrapVersionDeleteResponse",
        "x-ms-summary" : ""
      },
      "ErrorDetails" : {
        "type" : "object",
        "properties" : {
          "errorCode" : {
            "type" : "string",
            "description" : "The error code"
          },
          "message" : {
            "type" : "string",
            "description" : "The error message"
          }
        },
        "description" : "Error details",
        "x-ds-definition-name" : "errorDetails",
        "x-ms-summary" : "Error details."
      },
      "Document" : {
        "type" : "object",
        "properties" : {
          "fileExtension" : {
            "type" : "string",
            "description" : "The file extension of the document"
          },
          "documentBase64" : {
            "type" : "string",
            "description" : "The base64-encoded contents of the document"
          },
          "documentName" : {
            "type" : "string",
            "description" : "The name of the document"
          },
          "documentHtml" : {
            "type" : "string",
            "description" : "The HTML representation of the document"
          },
          "order" : {
            "type" : "integer",
            "description" : "The order of document layout",
            "format" : "int32"
          }
        },
        "description" : "Information about a document",
        "x-ds-definition-name" : "document",
        "x-ms-summary" : "Information about a document."
      },
      "ClickwrapsDeleteResponse" : {
        "type" : "object",
        "properties" : {
          "clickwraps" : {
            "type" : "array",
            "description" : "",
            "items" : {
              "$ref" : "#/components/schemas/ClickwrapDeleteResponse"
            }
          }
        },
        "description" : "",
        "x-ds-definition-name" : "clickwrapsDeleteResponse",
        "x-ms-summary" : ""
      },
      "ClickwrapTransferRequest" : {
        "type" : "object",
        "properties" : {
          "transferFromUserId" : {
            "type" : "string",
            "description" : "ID of the user to transfer from"
          },
          "transferToUserId" : {
            "type" : "string",
            "description" : "ID of the user to transfer to"
          }
        },
        "description" : "",
        "x-ds-definition-name" : "clickwrapTransferRequest",
        "x-ms-summary" : ""
      },
      "ClickwrapVersionsPagedResponse" : {
        "type" : "object",
        "properties" : {
          "accountId" : {
            "type" : "string",
            "description" : "A GUID that identifies your account.\nThis value is automatically generated by\nDocuSign for any account you create. Copy the\nvalue from the **API Account ID** field in\nthe **API and Keys** page in\neSignature Settings\n"
          },
          "versions" : {
            "type" : "array",
            "description" : "An array of clickwrap versions",
            "items" : {
              "$ref" : "#/components/schemas/ClickwrapVersion"
            }
          },
          "minimumPagesRemaining" : {
            "type" : "integer",
            "description" : "Number of pages remaining in the response",
            "format" : "int32"
          },
          "pageSize" : {
            "type" : "integer",
            "description" : "The number of items per page",
            "format" : "int32"
          },
          "page" : {
            "type" : "integer",
            "description" : "The number of the current page",
            "format" : "int32"
          },
          "clickwrapName" : {
            "type" : "string",
            "description" : "The name of the clickwrap"
          },
          "clickwrapId" : {
            "type" : "string",
            "description" : "The ID of the clickwrap"
          }
        },
        "description" : "",
        "x-ds-definition-name" : "clickwrapVersionsPagedResponse",
        "x-ms-summary" : ""
      },
      "ClickwrapAgreementsResponse" : {
        "type" : "object",
        "properties" : {
          "beginCreatedOn" : {
            "type" : "object",
            "properties" : { },
            "description" : "User agreements from this datetime"
          },
          "minimumPagesRemaining" : {
            "type" : "integer",
            "description" : "Number of pages remaining in the response",
            "format" : "int32"
          },
          "pageSize" : {
            "type" : "integer",
            "description" : "The number of items per page",
            "format" : "int32"
          },
          "page" : {
            "type" : "integer",
            "description" : "The number of the current page",
            "format" : "int32"
          },
          "userAgreements" : {
            "type" : "array",
            "description" : "An array of user agreements",
            "items" : {
              "$ref" : "#/components/schemas/UserAgreementResponse"
            }
          }
        },
        "description" : "",
        "x-ds-definition-name" : "clickwrapAgreementsResponse",
        "x-ms-summary" : ""
      },
      "ClickWraps" : {
        "type" : "object",
        "properties" : {
          "clickwraps" : {
            "type" : "array",
            "description" : "An array of clickwraps",
            "items" : {
              "$ref" : "#/components/schemas/ClickwrapVersionSummaryResponse"
            }
          },
          "minimumPagesRemaining" : {
            "type" : "integer",
            "description" : "Number of pages remaining in the response",
            "format" : "int32"
          },
          "pageSize" : {
            "type" : "integer",
            "description" : "The number of items per page",
            "format" : "int32"
          },
          "page" : {
            "type" : "integer",
            "description" : "The number of the current page",
            "format" : "int32"
          }
        },
        "description" : "A paged collection of clickwraps",
        "x-ds-definition-name" : "clickwrapVersionsResponse",
        "x-ds-category" : "Accounts",
        "x-ds-order" : "10",
        "x-ms-summary" : "A paged collection of clickwraps."
      },
      "ClickwrapVersionSummaryResponse" : {
        "type" : "object",
        "properties" : {
          "requireReacceptance" : {
            "type" : "boolean",
            "description" : "When **true**, requires signers who have previously agreed to this\nclickwrap to sign again. The version number is incremented"
          },
          "lastModifiedBy" : {
            "type" : "string",
            "description" : "The user ID of the last user who modified this clickwrap"
          },
          "scheduledDate" : {
            "type" : "object",
            "properties" : { },
            "description" : "The time and date when this clickwrap is activated"
          },
          "scheduledReacceptance" : {
            "$ref" : "#/components/schemas/ClickwrapScheduledReacceptance"
          },
          "clickwrapName" : {
            "type" : "string",
            "description" : "The name of the clickwrap"
          },
          "versionNumber" : {
            "type" : "string",
            "description" : "Version of the clickwrap"
          },
          "accountId" : {
            "type" : "string",
            "description" : "A GUID that identifies your account.\nThis value is automatically generated by\nDocuSign for any account you create. Copy the\nvalue from the **API Account ID** field in\nthe **API and Keys** page in\neSignature Settings\n"
          },
          "versionId" : {
            "type" : "string",
            "description" : "The ID of the version"
          },
          "clickwrapVersionId" : {
            "type" : "string",
            "description" : "The unique version ID, a GUID, of this clickwrap version"
          },
          "ownerUserId" : {
            "type" : "string",
            "description" : "The user ID of the owner of this clickwrap"
          },
          "createdTime" : {
            "type" : "object",
            "properties" : { },
            "description" : "The time that the clickwrap was created"
          },
          "lastModified" : {
            "type" : "object",
            "properties" : { },
            "description" : "The time that the clickwrap was last modified"
          },
          "clickwrapId" : {
            "type" : "string",
            "description" : "The ID of the clickwrap"
          },
          "status" : {
            "type" : "string",
            "description" : "Clickwrap status. Possible values:\n\n- `active`\n- `inactive`\n- `deleted`"
          }
        },
        "description" : "",
        "x-ds-definition-name" : "clickwrapVersionSummaryResponse",
        "x-ms-summary" : ""
      },
      "ServiceInformation" : {
        "type" : "object",
        "properties" : {
          "buildBranch" : {
            "type" : "string",
            "description" : ""
          },
          "buildVersion" : {
            "type" : "string",
            "description" : "The internal build version information"
          },
          "buildBranchDeployedDateTime" : {
            "type" : "string",
            "description" : ""
          },
          "buildSHA" : {
            "type" : "string",
            "description" : ""
          },
          "serviceVersions" : {
            "type" : "array",
            "description" : "An array of `serviceVersion` objects",
            "items" : {
              "$ref" : "#/components/schemas/ServiceVersion"
            }
          },
          "linkedSites" : {
            "type" : "array",
            "description" : "An array of URLs (strings) of related sites",
            "items" : {
              "type" : "string"
            }
          }
        },
        "description" : "",
        "x-ds-definition-name" : "serviceInformation",
        "x-ms-summary" : ""
      },
      "ClickwrapVersionsDeleteResponse" : {
        "type" : "object",
        "properties" : {
          "versions" : {
            "type" : "array",
            "description" : "An array delete responses",
            "items" : {
              "$ref" : "#/components/schemas/ClickwrapVersionDeleteResponse"
            }
          },
          "clickwrapName" : {
            "type" : "string",
            "description" : "The name of the clickwrap"
          },
          "clickwrapId" : {
            "type" : "string",
            "description" : "The ID of the clickwrap"
          }
        },
        "description" : "",
        "x-ds-definition-name" : "clickwrapVersionsDeleteResponse",
        "x-ms-summary" : ""
      },
      "UserAgreementRequest" : {
        "type" : "object",
        "properties" : {
          "clientUserId" : {
            "type" : "string",
            "description" : "The user ID of the client"
          },
          "metadata" : {
            "type" : "string",
            "description" : "A customer-defined string you can use in requests. This string will appear in the corresponding response"
          },
          "hostOrigin" : {
            "type" : "string",
            "description" : "The host origin\n"
          }
        },
        "description" : "",
        "x-ds-definition-name" : "userAgreementRequest",
        "x-ms-summary" : ""
      },
      "ClickwrapDeleteResponse" : {
        "type" : "object",
        "properties" : {
          "deletionSuccess" : {
            "type" : "boolean",
            "description" : "**True** if the clickwrap was deleted successfully. **False** otherwise"
          },
          "deletionMessage" : {
            "type" : "string",
            "description" : "A message describing the result of deletion request. One of:\n\n- `alreadyDeleted`: Clickwrap is already deleted.\n- `deletionSuccess`: Successfully deleted the clickwrap.\n- `deletionFailure`: Failed to delete the clickwrap.\n- `cannotDelete`: Active clickwrap version cannot be deleted"
          },
          "clickwrapName" : {
            "type" : "string",
            "description" : "The name of the clickwrap"
          },
          "clickwrapId" : {
            "type" : "string",
            "description" : "The ID of the clickwrap"
          },
          "status" : {
            "type" : "string",
            "description" : "Clickwrap status. Possible values:\n\n- `active`\n- `inactive`\n- `deleted`"
          }
        },
        "description" : "",
        "x-ds-definition-name" : "clickwrapDeleteResponse",
        "x-ms-summary" : ""
      },
      "ServiceVersion" : {
        "type" : "object",
        "properties" : {
          "version" : {
            "type" : "string",
            "description" : "The human-readable semver version string"
          },
          "versionUrl" : {
            "type" : "string",
            "description" : "The URL where this version of the API can be found"
          }
        },
        "description" : "",
        "x-ds-definition-name" : "serviceVersion",
        "x-ms-summary" : ""
      },
      "DisplaySettings" : {
        "type" : "object",
        "properties" : {
          "allowedHosts" : {
            "type" : "array",
            "description" : "Hosts that can host the clickwrap.\n\nIt is an error if the clickwrap didn't come from one of these hosts\n",
            "items" : {
              "type" : "string"
            }
          },
          "mustRead" : {
            "type" : "boolean",
            "description" : "**True** if the user needs to scroll to the end of the document\n"
          },
          "requireAccept" : {
            "type" : "boolean",
            "description" : "**True** if accept is required\n"
          },
          "downloadable" : {
            "type" : "boolean",
            "description" : "**True** if the agreement is downloadable"
          },
          "actionButtonAlignment" : {
            "type" : "string",
            "description" : "Position of the Accept button in the agreement. One of \n\n- `right`\n- `left`\n"
          },
          "documentDisplay" : {
            "type" : "string",
            "description" : "Display type: link or document"
          },
          "declineButtonText" : {
            "type" : "string",
            "description" : "The text on the decline button"
          },
          "displayName" : {
            "type" : "string",
            "description" : "The display name of the user agreement"
          },
          "consentButtonText" : {
            "type" : "string",
            "description" : "Text on the agree button"
          },
          "format" : {
            "type" : "string",
            "description" : "Display format: inline or modal"
          },
          "hasDeclineButton" : {
            "type" : "boolean",
            "description" : "**True** if the agreement has a decline checkbox"
          },
          "consentText" : {
            "type" : "string",
            "description" : "The text on agree button"
          },
          "hostOrigin" : {
            "type" : "string",
            "description" : "The host origin\n"
          },
          "mustView" : {
            "type" : "boolean",
            "description" : "**True** if the user must view the document\n"
          },
          "recordDeclineResponses" : {
            "type" : "boolean",
            "description" : "When **true**, this agreement records decline actions"
          },
          "allowClientOnly" : {
            "type" : "boolean",
            "description" : "When **true**, this agreement can be be used in client-only integrations"
          },
          "brandId" : {
            "type" : "string",
            "description" : "The signing brand ID"
          },
          "sendToEmail" : {
            "type" : "boolean",
            "description" : "**True** if send to email is applicable\n"
          }
        },
        "description" : "Information about how an agreement is displayed",
        "x-ds-definition-name" : "displaySettings",
        "x-ms-summary" : "Information about how an agreement is displayed."
      },
      "ClickwrapVersionsResponse" : {
        "type" : "object",
        "properties" : {
          "clickwraps" : {
            "type" : "array",
            "description" : "An array of `clickwrapVersionSummaryResponse` objects",
            "items" : {
              "$ref" : "#/components/schemas/ClickwrapVersionSummaryResponse"
            }
          },
          "minimumPagesRemaining" : {
            "type" : "integer",
            "description" : "Number of pages remaining in the response",
            "format" : "int32"
          },
          "pageSize" : {
            "type" : "integer",
            "description" : "The number of items per page",
            "format" : "int32"
          },
          "page" : {
            "type" : "integer",
            "description" : "The number of the current page",
            "format" : "int32"
          }
        },
        "description" : "",
        "x-ds-definition-name" : "clickwrapVersionsResponse",
        "x-ms-summary" : ""
      }
    }
  },
  "x-ds-allow-editing" : false,
  "x-ds-categories" : [ {
    "name" : "Accounts",
    "summary" : "DocuSign Click enables companies to capture consent to standard agreement terms with a single click.",
    "description" : "DocuSign Click lets you capture consent to standard agreement terms with a single click: terms and conditions, terms of service, terms of use, privacy policies, and more. The Click API lets you include this customizable clickwrap solution in your DocuSign integrations.\n\n"
  } ],
  "x-original-swagger-version" : "2.0"
}